[Unit]
Description=Web Alias

[Service]
User=root
Environment="NGINX_ALIAS_FILE=/etc/nginx/unipi-alias.conf"
#Environment="SECURITY_KEY=xxx"
#Environment="ALIAS_URL=http://manage.dm.unipi.it/api/v0/public/aliases
Environment="RELOAD_COMMAND=systemctl reload nginx"
WorkingDirectory=/root/web-alias-dm
ExecStart=/root/web-alias-dm/environment/bin/gunicorn -w 1 --threads 1 -b 0.0.0.0:8000 'web_alias:app'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
